/*
!.gitignore

!/fish
/fish/*
!/fish/config.fish

!/nvim
nvim/*
!/nvim/init.vim

!/tmux
tmux/*
!/tmux/.tmux.conf

!/spacemacs
spacemacs/*
!/spacemacs/.spacemacs

!/emacs
emacs/*
!/emacs/config.el
!/emacs/config.org
