/*
!.gitignore

!/fish
/fish/*
!/fish/config.fish

!/nvim
nvim/*
!/nvim/init.vim

!/tmux
tmux/*
!/tmux/.tmux.conf

!/spacemacs
spacemacs/*
!/spacemacs/.spacemacs

!/emacs
emacs/*
!/emacs/config.el
!/emacs/config.org

!/doom
doom/*
!/doom/config.el
!/doom/init.el
!/packages.el

!/yabai
yabai/*
!/yabai/yabairc

!/limelight
limelight/*
!/limelight/limelightrc

!/htop
htop/*
!/htop/htoprc

!/karabiner
karabiner/*
!/karabiner/karabiner.json

!/omf

